<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <style>
        div
        {
        background-color:pink;
        height:300px;
        width:250px;
        }
        h3
        {
        background-color:lightgreen;
        }
    </style>

</head>
<body>
<form method="post" action="login1.html">
    <center>
        <div>
            <h3>sign in</h3>
            <label>Name:&nbsp;&nbsp;</label><input type="text" name="username" placeholder="Enter your full name"><br>
            <label>Email:&nbsp;&nbsp;</label><input type="email" name="email" placeholder="Enter your Email"><br>
            <label>Mobile:</label><input type="text" name="Mobile" placeholder="Enter your Mobile no"><br>
            <label>Genter:<input type="radio" name="Genter" value="Male">Male</label>
            <label>&nbsp;<input type="radio" name="Genter" value="Female">Female</label><br>
            <label>Pass: &nbsp;&nbsp;&nbsp;</label><input type="password" name="password" placeholder="password"><br>
            <label>Repass:</label><input type="password" name="password" placeholder="conform password"><br>
            <labe><input type="checkbox">I Accept the terms and condition, and the privacy policy.</label>
            <center><input type="reset">&nbsp;&nbsp;<input type="submit"></center>
        </div>
    </center>

</form>
</body>
</html>