<!DOCTYPE html>
<html lang="en">
<head>
  <style>
    div
    {
    background-color:blue;
    height:200px;width:200px;
    }
    form
    {
    padding:10%;
    }
  </style>
</head>
<body>
<center>
  <form>
  <div><br>
    <h3>log in</h3>
    <input type="email" name="email" placeholder="mobile/email"><br><br>
    <input type="password" name="password" placeholder="enter password"><br><br>
    <center><input type="reset">&nbsp;&nbsp;<input type="submit"></center>
  </div>
  </form>
</center>
</body>
</html>